<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta author="Luc de Brouwer" />
    <meta description="Vacancy Redesigner Rabobank" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/rabobank_shortcut_icon.ico') }}"
    />
    <title>TH | Vacancy Redesigner</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body id="bootstrap-overrides">
    <div class="container-fluid">
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <h2 class="navbar-brand" href="#">Vacaturechecker</h2>
            <div class="d-flex">
              <a class="navbar-brand" href="#">
                <img
                  src="{{ url_for('static', filename='img/rabo_logo.png') }}"
                  alt="Rabobank logo"
                  height="50"
                />
              </a>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="main-left col-lg-8">
              <form
                action=""
                method="post"
                class="mt-3 ml-3 mb-3 mr-3"
                id="job_text_form"
              >
                <div>
                  {% if rte %} {{ ckeditor.load() }} {{ ckeditor.create() }} {{
                  ckeditor.config() }} {% else %}
                  <textarea
                    placeholder="Begin met typen... of plak je tekst"
                    id="job-desc"
                    class="form-control form__input"
                    name="job_text"
                    rows="25"
                    cols="100"
                  ></textarea>
                  {% endif %}
                </div>
                <div class="mt-3 mb-3">
                  <button
                    class="btn submit-btn"
                    form="job_text_form"
                    type="submit"
                  >
                    Controleer mijn vacaturetekst
                  </button>
                </div>
              </form>
            </div>
            <div class="main-right col-lg-4 overflow-auto">
              <div class="leesbaarheid">
                <h3 class="mt-1">Leesbaarheid</h3>
                <p>
                  Leesbaarheid gaat over het inzichtelijk maken van tekst
                  eigenschappen die bepalend zijn voor de moeilijkheidsgraad en
                  de begrijpbaarheid van de vacaturetekst.
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2" id="th-others">
                        Leesbaarheid statistieken
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Aantal woorden</th>
                      <td><span id="imp-emphasize">{{n_words}}</span></td>
                    </tr>
                    <tr>
                      <th>Aantal zinnen</th>
                      <td><span id="imp-emphasize">{{n_sentences}}</span></td>
                    </tr>
                    <tr>
                      <th>Kortste zin</th>
                      <td>
                        <span id="imp-emphasize"
                          >{{smallest_sent}} woorden</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <th>Gem. zinslengte</th>
                      <td>
                        <span id="imp-emphasize"
                          >{{n_words_x_sentence}} woorden</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <th>Mediaan zinslengte</th>
                      <td>
                        <span id="imp-emphasize">{{median}} woorden</span>
                      </td>
                    </tr>
                    <tr>
                      <th>Langste zin</th>
                      <td>
                        <span id="imp-emphasize">{{longest_sent}} woorden</span>
                      </td>
                    </tr>
                    <tr>
                      <th>Leesniveau</th>
                      <td><span id="imp-emphasize">{{leesniveau}}</span></td>
                    </tr>
                    <tr>
                      <th colspan="2" id="th-others">
                        Overige leesbaarheid statistieken
                      </th>
                    </tr>
                    <tr>
                      <th>Aantal alinea's</th>
                      <td><span id="imp-emphasize">{{n_lines}}</span></td>
                    </tr>
                    <tr>
                      <th>Tot. Aantal bullets</th>
                      <td><span id="imp-emphasize">{{n_bullets}}</span></td>
                    </tr>
                    <tr>
                      <th>Aantal lijsten</th>
                      <td><span id="imp-emphasize">{{n_lists}}</span></td>
                    </tr>
                    <tr>
                      <th>Gem. aantal bullets</th>
                      <td>
                        <span id="imp-emphasize">{{n_bullets_x_lists}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="gender-bias">
                <h3 class="mt-1">Gender-bias</h3>
                <p>
                  De tekst wordt gecontroleerd op genderwording aan de hand van
                  <span id="imp-emphasize"
                    >{% if available_words %} {{available_words['masculine']}}
                    {% endif %}</span
                  >
                  mannelijke woorden en
                  <span id="imp-emphasize"
                    >{% if available_words %} {{available_words['feminine']}} {%
                    endif %}</span
                  >
                  vrouwelijke woorden.
                </p>
                <!-- <p>De tekst is {% if bias%} {{bias}} {% endif %} gestuurd</p> -->
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2" id="th-others">
                        Gender bias statistieken
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Percentage mannelijke woorden:</th>
                      <td>
                        <span id="imp-emphasize"
                          >{% if ratio['male_ratio']%} {{ratio['male_ratio']}}%
                          {% endif %}</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <th>Percentage vrouwelijke woorden:</th>
                      <td>
                        <span id="imp-emphasize"
                          >{% if ratio['female_ratio']%}
                          {{ratio['female_ratio']}}% {% endif %}</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <th>Bias score:</th>
                      <td>
                        {% if bias%} {{bias}} {% endif %} <span id="imp-emphasize"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col">
                    <h6>Mannelijke woorden in vacaturetekst:</h6>
                    {% if m_matches %}
                    <ul>
                      {% for w in m_matches %}
                      <li>{{w}}</li>
                      {% endfor %} {% endif %}
                    </ul>
                  </div>
                  <div class="col">
                    <h6>Vrouwelijke woorden in vacaturetekst:</h6>
                    {% if f_matches %}
                    <ul>
                      {% for w in f_matches %}
                      <li>{{w}}</li>
                      {% endfor %} {% endif %}
                    </ul>
                  </div>
                  <div class="row">
                    <p>
                      Een <span>gedeeltelijke</span> match ontstaat als er een
                      woord uit de genderwording lijst gedeeltelijk of volledig
                      terugkomt in een woord uit de tekst. Bijvoorbeeld bij het
                      woord leider in leiderschap.
                    </p>
                    <div class="col">
                      <h6>Gedeeltelijke woord matches (man):</h6>
                      {% if pm_matches %}
                      <ul>
                        {% for w in pm_matches %}
                        <li>{{w}}</li>
                        {% endfor %}{% endif %}
                      </ul>
                    </div>
                    <div class="col">
                      <h6>Gedeeltelijke woord matches (vrouw):</h6>
                      {% if pf_matches %}
                      <ul>
                        {% for w in pf_matches %}
                        <li>{{w}}</li>
                        {% endfor %}{% endif %}
                      </ul>
                    </div>
                  </div>
                  <button type="" class="btn btn-primary">
                    <a href="/main" class="btn">Reporting page</a>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                {% if job_desc_full %}
                <h4 class="mt-3">Geschreven vacaturetekst:</h4>
                <div>
                  {{job_desc_full | safe}}
                </div>
               {% endif %}
              <div class="col-lg-6">
                <h4>Gesegmenteerde zinnen</h4>
                {% if segment %}
                <ul>
                {% for sentence in segment %}
                  <li>{{sentence | safe}}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    {{ ckeditor.load()}}
  </body>
</html>
